<!-- User's form to add recipes -->
<div class="container">
    <div class="formfield">
        <label for="comment">Paste or type recipe here:</label>
        <br/>
        <trix-editor angular-trix ng-model="vm.recipeDetails" class="trix-content"></trix-editor>
    </div>
</div>
<br/>
<br/>
<form role="form">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-sm-3">Recipe Name</label>
                    <div class="col-md-8">
                        <input type="" class="form-control" ng-model="vm.recipeName">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-sm-3">Calories</label>
                    <div class="col-md-8">
                        <input type="" class="form-control" ng-model="vm.calories">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-sm-3">Protein</label>
                    <div class="col-md-8">
                        <input type="" class="form-control" ng-model="vm.protein">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-sm-3">Time prep</label>
                    <div class="col-md-8">
                        <input type="" class="form-control" ng-model="vm.timePrep">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-sm-3">Carbs</label>
                    <div class="col-md-8">
                        <input type="" class="form-control" ng-model="vm.carbs">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-sm-3">Fiber</label>
                    <div class="col-md-8">
                        <input type="" class="form-control" ng-model="vm.fiber">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-sm-3">Time cook</label>
                    <div class="col-md-8">
                        <input type="" class="form-control" ng-model="vm.timeCook">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-sm-3">Fat</label>
                    <div class="col-md-8">
                        <input type="" class="form-control" ng-model="vm.fat">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-sm-3">Servings</label>
                    <div class="col-md-8">
                        <input type="" class="form-control" ng-model="vm.servings">
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
<br>
<div class="container">
    <form action="#" method="post">
        <div class="row">
            <div class="col-md-6">
                
                <div class="form-group">
                    <label for="prioritySelect">Select catagory (required):</label>
                    <select class="form-control" required ng-model="vm.category">
                        <option>Chicken</option>
                        <option>Beef</option>
                        <option>Pork</option>
                        <option>Seafood</option>
                        <option>Carbs</option>
                        <option>Burgers</option>
                        <option>Veggies</option>
                        <option>Breakfast</option>
                        <option>Cooking with beer</option>
                        <option>The bar</option>
                        <option>Plates for dates (dinner)</option>
                        <option>Plates for dates (breakfast)</option>
                    </select>
                </div>
                
            </div>
        </div>
    </form>
</div>
<br>
<div class="container">
    <submit class="btn btn-primary" ng-click="vm.addRecipe(vm.category, vm.recipeName, vm.recipeDetails, vm.timePrep, vm.timeCook, vm.servings, vm.calories, vm.fat, vm.protein, vm.carbs, vm.fiber)">Add Recipe</submit>
</div>
<br>



<!-- Main dashboard body for displaying user's added recipes -->
<div class="container">
    <div class="col-sm-10 text-left">
        <div class="container-fluid col-sm-4" ng-repeat="data in vm.myRecipes">
            <div class="row">
                <div class="panel panel-default NewPanel searchResult">
                    <div class="panel-body recipeDisplay">
                    <!-- <img ng-src="../img/{{data.RecipeId}}.jpg" class="recipePic"> -->
                        <br>
                        <label>Category: {{data.category}}</label></br>
                        <br>
                        <label>Recipe name: {{data.recipeName}}</label></br>
                        <br>
                        <label><span ng-bind-html="data.recipeDetails"></span></label></br>
                        <br>
                        <label>Time prep: {{data.timePrep}}</label></br>
                        <br>
                        <label>Time cook: {{data.timeCook}}</label></br>
                        <br>
                        <label>Servings: {{data.servings}}</label></br>
                        <br>
                        <label>Calories: {{data.calories}}</label></br>
                        <br>
                        <label>Fat: {{data.fat}}</label></br>
                        <br>
                        <label>Protein: {{data.protein}}</label></br>
                        <br>
                        <label>Carbs: {{data.carbs}}</label></br>
                        <br>
                        <label>Fiber: {{data.fiber}}</label></br>
                        <br>
                        <label>Created by: {{data.createdBy}}</label></br>
                        <button class="btn btn-danger" ng-click="vm.deleteRecipe(data)">delete recipe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
