<div class="container">
    <div class="formfield">
        <label for="comment">Paste or type recipe here:</label>
        <br/>
        <trix-editor angular-trix ng-model="vm.recipeDetails" class="trix-content"></trix-editor>
        <!-- <textarea rows="10" cols="70" id="comment" ng-model="vm.recipeDetails"></textarea> -->
    </div>
</div>
<br/>
<div class="container">
    <div class="col-xs-4">
        <div class="form-group">
            <label class="control-label">Upload pics here:</label>
            <input type="file" class="filestyle" data-buttonText="Select a File">
        </div>
    </div>
    <!-- <fieldset class="form-group">
        <div class="radio">
            <b>Want the other guys to view your recipe?</b>
            <br>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Yeah sure!
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Nah, maybe later.
            </label>
        </div>
    </fieldset> -->
</div>
<br/>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-sm-3">Recipe Name</label> 
            <div class="col-md-8">
                <input type="" class="form-control" ng-model="vm.recipeName" placeholder="Optional">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-sm-3">Calories</label>  
            <div class="col-md-8">
                <input type="" class="form-control" ng-model="vm.calories" placeholder="Optional">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-sm-3">Protein</label>  
            <div class="col-md-8">
                <input type="" class="form-control" ng-model="vm.protein" placeholder="Optional">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-sm-3">Time prep</label>
            <div class="col-md-8">
                <input type="" class="form-control" ng-model="vm.timePrep" placeholder="Optional">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-sm-3">Carbs</label>
            <div class="col-md-8">
                <input type="" class="form-control" ng-model="vm.carbs" placeholder="Optional">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-sm-3">Fiber</label>
            <div class="col-md-8">
                <input type="" class="form-control" ng-model="vm.fiber" placeholder="Optional">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-sm-3">Time cook</label>  
            <div class="col-md-8">
                <input type="" class="form-control" ng-model="vm.timeCook" placeholder="Optional">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-sm-3">Fat</label>  
            <div class="col-md-8">
                <input type="" class="form-control" ng-model="vm.fat" placeholder="Optional">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-sm-3">Date</label>  
            <div class="col-md-8">
                <input type="" class="form-control" ng-model="vm.createdDate" placeholder="Optional">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-sm-3">Servings</label>  
            <div class="col-md-8">
                <input type="" class="form-control" ng-model="vm.servings" placeholder="Optional">
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="col-md-6">
        <div class="prioritySelectInput">
            <label for="prioritySelect">Select catagory (required):</label>
            <select class="form-control" ng-model="vm.category">
                <option>Chicken</option>
                <option>Beef</option>
                <option>Pork</option>
                <option>Seafood</option>
                <option>Carbs</option>
                <option>Burgers</option>
                <option>Veggies</option>
                <option>Breakfast</option>
                <option>Cooking with beer</option>
                <option>The bar</option>
                <option>Plates for dates</option>
            </select>
        </div>
    </div>
</div>
<br>
<div class="container">
    <button class="btn btn-primary" ng-click="vm.addRecipe(vm.category, vm.recipeName, vm.recipeDetails, vm.timePrep, vm.timeCook, vm.servings, vm.calories, vm.fat, vm.protein, vm.carbs, vm.fiber)">Add Recipe</button>
</div>
<br>
