<!-- Greeting message -->
<div class="container" id="about-greeting">
        <h1>WHAT UP!</h1>
</div>
<br/>

<!-- Body text -->
<div class="container" id="about-text">
    <p>My name is Rick and I thought of this app while doing something I do almost everyday and that is look for simple recipes to try. When I do come across one, I would copy and paste it in a memo on my phone or laptop or tablet. So I end up with recipes scattered in different devices. I would like to consolidate all my recipes to one location and share them with others.</p>
    <hr align="center" width="50%">
    <p>First of all, I don't consider myself as a great cook but I can follow instructions especially, simple ones. In my hunt for recipes, I often came across one that had 15 or more ingredients. My reply to that was typically, "Nah, forget about it!." Some ingredients I may only use once for the recipe and that's it. It ends up in the trash. And I want a meal I can prepare in a short time. We guys often get intimidated by the look of a long recipe, or the meal in a picture that looks fancy. Trust me, I get it.</p>
    <hr align="center" width="50%">
    <p>I did come across recipes that doesn't take long to prepare, cook, and are flavorful (that's important). That's why my focus here is to post recipes that contain as few ingredients as possible and are healthy (well, most of them anyway). It's not a big deal guys. It just takes a little practice. Take a look and try the easiest recipes first then work your way up to more ingredients. You will be surprise what you can accomplish and how impressed the ladies will be.</p>
</div>
