<div class="container" id="wrapper">
    <section>
        <ul id="tools">
            <li>
                <img src="app/img/butcherknife.jpg" alt="Butcher knife">
                <div id="tools-text">
                    <p>Butcher knife</p>
                </div>
            </li>
            <li>
                <img src="app/img/choppingknife.jpg" alt="Chopping knife">
                <div id="tools-text">
                    <p>Chopping knife</p>
                </div>
            </li>
            <li>
                <img src="app/img/knifesharpener.jpg" alt="Knife Sharpener">
                <div id="tools-text">
                    <p>Knife Sharpener</p>
                </div>
            </li>
            <li>
                <img src="app/img/spatula.jpg" alt="Spatula">
                <div id="tools-text">
                    <p>Spatula</p>
                </div>
            </li>
            <li>
                <img src="app/img/vegetable-peeler.jpg" alt="Peeler">
                <div id="tools-text">
                    <p>Vegetable Peeler</p>
                </div>
            </li>
            <li>
                <img src="app/img/wooden-utensils.jpg" alt="Wooden utensils">
                <div id="tools-text">
                    <p>Wooden utensils</p>
                </div>
            </li>
            <li>
                <img src="app/img/pans.jpg" alt="Pans">
                <div id="tools-text">
                    <p>Pans</p>
                </div>
            </li>
            <li>
                <img src="app/img/pots.jpg" alt="Pots">
                <div id="tools-text">
                    <p>Pots</p>
                </div>
            </li>
            <li>
                <img src="app/img/skillet.jpg" alt="Skillet">
                <div id="tools-text">
                    <p>Skillet</p>
                </div>
            </li>
            <li>
                <img src="app/img/wok.jpg" alt="Wok">
                <div id="tools-text">
                    <p>Wok</p>
                </div>
            </li>
            <li>
                <img src="app/img/Cocktail shaker.jpg" alt="Cocktail shaker">
                <div id="tools-text">
                    <p>Cocktail Shaker</p>
                </div>
            </li>
        </ul>
    </section>
</div>
