
<div class="container">
  <div class="text-center">
    <h1>WHAT UP!</h1>
  </div>



<p>My name is Rick and I thought of this app while doing something I do almost everyday...look for simple recipes I can cook. And when I do come across one, I copy and paste it in a memo in my phone or my laptop or tablet. So I end up with recipes scattered in different devices. And I want to conveniently have a grocery list of items I will need to purchase if I happened to be at the store.</p>
<hr align="center" width="50%">
<p>First of all, I don't consider myself as a great cook but I can follow instructions very well especially, simple ones. I don't like eating out a lot as it does get expensive and is often unhealthy, so I learned to cook. In my hunt for recipes, I came across many that had 15 or more ingredients. I looked at these and ask myself, 'Does it really have to be this complicated and take so long to prepare a meal?' Forget about it! (Did that just sound like an infomercial?). We often get intimidated by the look of a long recipe, or the meal in a picture that looks fancy. Trust me, I get it.</p> 
<hr align="center" width="50%">
<p>However, I did come across recipes that doesn't take long to prepare, cook, and are flavorful (that's important). That's why my focus here is to post recipes that contain as few ingredients as possible and are healthy (well, most of them anyway). It's not a big deal guys. It just takes a little practice. Take a look and try the easiest recipes first then work your way up to more ingredients. You will be surprise what you can accomplish and how impressed the ladies will be.</p>
</div>