<!-- <form role="form"> -->
<div class="container" id="seasonings">
    <div class="row">
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">Seasonings</div>
            <div class="panel-body">
                <p>Smoke paprika</p>
                <p>Cinnamon</p>
                <p>Smoke paprika</p>
                <p>Cinnamon</p>
                <p>Italian seasoning</p>
                <p>Sweet ginger garlic seasoning</p>
                <p>Garlic season-all</p>
                <p>Crushed chili or red chili flakes</p>
                <p>Cumin</p>
                <p>Thyme</p>
                <p>Herbal chicken seasoning</p>
                <p>Black pepper</p>
                <p>Salt</p>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="container" id="sauces">
    <div class="row">
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">Sauces</div>
            <div class="panel-body">
                <p>Oyster sauce</p>
                <p>Worcestershire sauce</p>
                <p>Low sodium soy sauce</p>
                <p>Pasta sauce preferably Marina sauce</p>
            </div>
        </div>
        </div>
    </div>
</div>
</form>
<div class="container" id="oils">
    <div class="row">
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">Oils</div>
            <div class="panel-body">
                <p>Olive oil</p>
                <p>Sesame seed oil</p>
                <p>Nonstick cooking spray </p>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="container" id="other">
    <div class="row">
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">Other</div>
            <div class="panel-body">
                <p>Spaghetti whole wheat</p>
                <p>Penne</p>
                <p>Tuna canned</p>
                <p>Frozen shrimp</p>
                <p>Salmon</p>
                <p>Butter</p>
                <p>Basil pesto</p>
                <p>Maple syrup</p>
                <p>Ginger</p>
                <p>Garlic</p>
                <p>Limes</p>
                <p>Vanilla extract</p>
                <p>Onion</p>
            </div>
        </div>
        </div>
    </div>
</div>