<div class="container">
<p>Smoke paprika</p>
<p>Cinnamon</p>
<p>Italian seasoning</p>
<p>Oyster sauce</p>
<p>Garlic season-all</p>
 <p>Olive oil</p>
 <p>Sesame seed oil</p>
 <p>Nonstick cooking spray </p>
 <p>Sweet ginger garlic seasoning</p> 
 <p>Vanilla extract </p>
 <p>Pasta sauce preferably Marina sauce</p>
 <p>Spaghetti whole wheat</p>
 <p>Penne</p>
 <p>Tuna canned</p>
 <p>Frozen shrimp</p> 
 <p>Salmon</p>
 <p>Butter</p>
 <p>Worcestershire sauce</p>
 <p>Low sodium soy sauce</p>
 <p>Basil pesto</p>
 <p>Maple syrup</p> 
 <p>Ginger</p>
 <p>Garlic</p>
 <p>Limes</p>
 <p>Crushed chili or red chili flakes</p>
 <p>Cumin</p>
 <p>Thyme</p>
 <p>Herbal chicken seasoning</p>
 <p>Onion</p> 
 <p>Freezer bags </p>
</div>