<div class="container" id="wrapper">
    <section>
        <ul id="tools">
            <li>
                <img src="app/img/butcherknife.jpg" alt="Butcher knife">
                <p>Butcher knife</p>
            </li>
            <li>
                <img src="app/img/choppingknife.jpg" alt="Chopping knife">
                <p>Chopping knife</p>
            </li>
            <li>
                <img src="app/img/wooden-utensils.jpg" alt="Wooden utensils">
                <p>Wooden utensils</p>
            </li>
            <li>
                <img src="app/img/knifesharpener.jpg" alt="Knife Sharpener">
                <p>Knife Sharpener</p>
            </li>
            <li>
                <img src="app/img/peeler.jpg" alt="Peeler">
                <p>Peeler</p>
            </li>
            <li>
                <img src="app/img/pans.jpg" alt="Pans">
                <p>Pans</p>
            </li>
            <li>
                <img src="app/img/pots.jpg" alt="Pots">
                <p>Pots</p>
            </li>
            <li>
                <img src="app/img/skillet.jpg" alt="Skillet">
                <p>Skillet</p>
            </li>
            <li>
                <img src="app/img/wok.jpg" alt="Wok">
                <p>Wok</p>
            </li>
        </ul>
    </section>
</div>
