<div class="row resultsContainer">
    <!-- Repeated panel to display search results -->
    <div class="col-md-4" ng-repeat="data in vm.searchResults">
        <div class="panel panel-default searchResult">
            <div class="panel-body">
            	<img class="recipePic" ng-src="../img/{{data.RecipeId}}.jpg">
                <p>Time prep: {{data.Timeprep}}</p>
                <p>Time cook: {{data.Timecook}}</p>
                <p>Servings: {{data.Servings}}</p>
                <p>Calories: {{data.Calories}}</p>
                <p>Fat: {{data.Fat}}</p>
                <p>Protein: {{data.Protein}}</p>
                <p>Carbs: {{data.Carbs}} </p>
                <p>Fiber: {{data.Fiber}}</p>
                <p>Sugar: {{data.Sugar}}</p>              
            </div>
        </div>
    </div>
</div>