

<div class="row resultsContainer">
    <!-- Repeated panel to display search results -->
    <div class="col-md-3" ng-repeat="data in vm.searchResults">
        <div class="panel panel-default searchResult">
            <div class="panel-body">
                <p>Category: {{data.category}}</p>
                <p>Recipe name: {{data.recipeName}}</p>
                <p>Instructions: <span ng-bind-html="data.recipeDetails"></span> </p> 
                <p>Time prep: {{data.timePrep}}</p>
                <p>Time cook: {{data.timeCook}}</p>
                <p>Servings: {{data.servings}}</p>
                <p>Calories: {{data.calories}}</p>
                <p>Fat: {{data.fat}}</p>
                <p>Protein: {{data.protein}}</p>
                <p>Carbs: {{data.carbs}} </p>
                <p>Fiber: {{data.fiber}}</p>
                <p>Created by: {{data.createdBy}}</p>
                <!-- <p>Created date: {{data.createdDate}}</p> -->
                              
            </div>
        </div>
    </div>
</div>